body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    min-width: 500px;
}

header, main {
    padding: 0 5rem;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer {
    font-size: 1rem;
}

.navbar {
    height: 64px;
}

.navbar .navbar-brand:hover {
    transition: 0.2s;
    color: #007bff;
}

.class-info {
    margin-bottom: 4rem;
}

.class-title {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 3.5rem;
}

.class-rate-btn {
    height: 30px;
    width: 30px;
}

.professor-desc {
    margin-bottom: 40px;
}

.ratings {
    margin-bottom: 4rem;
}

.ratings-title {
    font-size: 2rem;
}

.professor-footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.rate-btn-container p {
    color: gray;
    font-size: 1rem;
}

.professor-rating {
    font-size: 2rem;
}

.student-comment {
    display: none;
}

.accuracy-score:hover + .student-comment{
    display: block;
    
}

@media only screen and (max-width: 600px) {
    .class-info-title {
        margin-top: 2rem;
    }
}

.login-container {
    height: calc(100vh - 64px);
    background:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIj48ZGVmcz48cGF0dGVybiBpZD0icGF0dGVybiIgd2lkdGg9IjU1IiBoZWlnaHQ9IjU1IiB2aWV3Qm94PSIwIDAgNDAsNDAiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiIHBhdHRlcm5UcmFuc2Zvcm09InJvdGF0ZSg0NSkiPjxyZWN0IGlkPSJwYXR0ZXJuLWJhY2tncm91bmQiIHdpZHRoPSI0MDAlIiBoZWlnaHQ9IjQwMCUiIGZpbGw9IiNlOWVjZWYiPjwvcmVjdD4gPGNpcmNsZSBmaWxsPSIjODY4ZTk2IiBjeD0iMjAiIGN5PSIyMCIgcj0iOCI+PC9jaXJjbGU+PGNpcmNsZSBmaWxsPSIjZmZmZmZmIiBjeD0iMjAiIGN5PSIyMCIgcj0iNyI+PC9jaXJjbGU+PGNpcmNsZSBmaWxsPSIjZmZmZmZmIiBjeD0iLTIwIiBjeT0iMjAiIHI9IjciPjwvY2lyY2xlPjwvcGF0dGVybj4gIDwvZGVmcz4gPHJlY3QgZmlsbD0idXJsKCNwYXR0ZXJuKSIgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSI+PC9yZWN0Pjwvc3ZnPg==");
}

.login-form {
    width: 100%;
    max-width: 330px;
    padding: 40px;
    background-color: white;
}

img {
    max-width: 200px;
    max-height: 220px;
}